/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400');

$font-family-sans-serif: 'Open Sans', sans-serif !default;
$font-family-monospace: 'Source Code Pro', monospace !default;
$presentation-heading-font: "Open Sans", sans-serif !default;
$presentation-title-slide-text-align: left;
$presentation-heading-font-weight: 300;
$code-block-font-size: 0.90em;

// colors
$body-bg:      #FFFFFF;
$body-color:   #404041;
$code-color:   #9a4665;
$selection-bg: #93bdbf;
$link-color:   #3D6E74;
$darkblue:     #19294D;
$darkyellow:   #FCA311;
$silver:       #F6F6F6;
$lightblue:    #A6CFD5;
$altred:       #A33B20;
$darkgreen:    #5B6C5D;
$lightgray:    #949494;
$lightgray3:   #707073;

// dark colors
$dark-bg-text-color:	#F0F0F0;
$dark-bg-code-color:	#cca2b2;
$dark-bg-link-color:	#93bdbf;

/*-- scss:rules --*/




// Title slide
#title-slide .title {
  font-size: 90px;
  font-weight: 500;
}

#title-slide .subtitle {
  font-size: 80px;
  font-weight: 400;
}

#title-slide .quarto-title-author-name {
  font-size: 40px;
  font-weight: 300;
  color: $lightgray3;
}

#title-slide .institute {
  font-weight: 1000;
}

// dark slides
section div.has-dark-background {
  color: $dark-bg-text-color;
}

section div.has-dark-background h2 {
  font-weight: 300 !important;
  color: $dark-bg-text-color;
}

section div.has-dark-background code {
  color: $dark-bg-code-color;
}

section div.has-dark-background a {
  color: $dark-bg-link-color;
}

section div.has-dark-background blockquote {
  color: #c9c9c9;
}

// don't add margin to last column

.reveal .columns>.column:last-child>:not(ul,ol) {
  margin-left: 0;
}

// footer details
.reveal .slide-number a {
  font-family: 'Barlow Condensed', sans-serif;
}

.reveal .footer p {
    font-family: 'Barlow Condensed', sans-serif;
}

// font sizes

.smaller{font-size:smaller}

.medium{font-size:medium}

.large{font-size:150%;}

.larger{font-size:250%;}

.largest{font-size:500%;}

// images
.hello-image {
  margin-top: 20px;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}


.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section-title-dark{
  vertical-align: middle;
  text-align: center;
  margin-top: 350px;
  font-size: 90px;
  font-weight: 500;
  color: $dark-bg-text-color;
}

.section-title{
  vertical-align: middle;
  text-align: center;
  margin-top: 350px;
  font-size: 90px;
  font-weight: 500;
}



// Custom Color Region
.darkblue {color: $darkblue;}
.darkyellow {color: $darkyellow;}
.silver {color: $silver;}
.lightblue {color: $lightblue;}
.altred {color: $altred;}
.darkgreen {color: $darkgreen;}
.teal {color: $link-color;}
.fuchsia {color: $code-color;}
